  /* Add this to the CSS */
  /* make the container a flex container */
  html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
  }
  /* flex-grow property makes the main content takes remaining space */
  main {
    flex-grow: 1;
  }

  /* Add this to your style.css file */
header {
    width: 100%;
    height: 60vh; /* Make the banner height equal to the full screen height */
    z-index: 1;

        /* The image used */
        background-image: url("image1_Copy.jpg");
  
        /* Set a specific height */
        min-height: 500px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  }
  
  #image-banner img {
    width: 100%;
    position: relative;
    object-fit: cover;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: background-image 0.5s ease-in-out; /* Add the transition property */
  }
  
  .change-banner {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide-in {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  /* IMAGES ROW */

  .image_row{
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    border-radius: 10px;
  }

  img {
    max-width:100%;
    max-height:100%;
  }

    .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    .container1 {
        position: relative;
        text-align: center;
        color: white;
      }

  /*NAVBAR*/
  .navbar {
    font-size: 30px;
    padding-top: 100px;
    font-weight: 600;
  }

  .nav-link{
    color: #cecccc;
  }
  /* CSS for calendar portion*/
  .wrapper {
    width: 550px;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 20px;
  }
  .wrapper .wrapper_header{
    display: flex;
    align-items: center;
    padding: 30px 60px 10px;
    justify-content: space-between;
  }

  .wrapper_header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }

  .wrapper_header .icons span{
    height: 50px;
    width: 38px;
    color: #878787;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }

  .wrapper_header .icons span:hover{
    background: #cecccc;
  }

  .wrapper_header .icons span:last-child{
    margin-right: -10px;
  }
  
  .calendar{
    padding: 20px;
  }

  .calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
  }

  .calendar .days{
    margin-bottom: 40px;
  }

  .calendar .weeks li{
    font-weight: 600;
    font-size: 22px;
    width: calc(95% / 7);
  }

  .calendar ul li{
    position: relative;
  }

  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
    font-size:20px;
    width: 40px;
    height: 40px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .calendar ul li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 50%;
    top: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .calendar ul {
    padding-inline-start: 40px;
  }

  .days li:hover::before{
    background: #cecccc;
  }

  .days li .active{
    color: #fff;
  }

  .days li .inactive{
    color: #aaa;
  }

  .clickedDays{
    background: #494949;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #cecccc;
  }

  .logo-image{
    width: 186px;
    height: 186px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    padding: .375rem .75rem;
}

   #options {
    width: 550px;
    height: 1px;
    border-radius: 10px;
    background:#fff;
    margin-bottom: 20px;
  }

  #options {
    opacity: 0;
    height: 1px;
    transition: all .75s ease;
  }
  
   #options.show {
    opacity: 1;
    height: 250px;
  }

  #checkoutBtn {
    color: #000000; 
    font-weight: 500; 
    background-color: #fff;
  }

  .column1{
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .row1{
    font-weight: 500;
    margin: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    border-radius: 10px;

  }
  .row2{
    font-weight: 500;
    margin: 7px;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    border-radius: 10px;
  }

  .border{
    border: 3.5px solid #dee2e6!important
  }

  